<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bing Jobs Scrapper</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

    <div class="container">
        <form action="/scrape" method="post">
            <input type="url" name="url" placeholder="Paste URL Here." required>
            <button type="submit" class="glossy-button">Submit</button>
        </form>
        <p>Go through<a style="color: rgb(63, 63, 63);" href=https://github.com/iiakshat/google-jobs/blob/main/README.md> README</a> for more details.</p>
    </div>
</body>
</html>